

@media screen and (min-width: 768px){
  .container{
    max-width: 768px;
  }
  .principles-text{
    width: calc((100% - 72px) / 2 );
  }
  .principles .list{
    padding: 0;
    gap: 72px 24px;
  }

  .principles{
    padding: 96px 0px;
 
  }

  
.introduction{
  background-color: var(--navyblue);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/header-bg-768.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--white); 
  align-content: center;
  padding: 188px 0;
  max-width: 768px;
  margin: 0 auto;
}

.third-header{
  color: var(--navyblue, #2E2F42);


font-size: 36px;

font-weight: 700;
line-height: 1.1;
letter-spacing: 0.72px;
text-transform: capitalize;
}

.team{
  padding: 96px 0;
}

.team .container{
  max-width: 584px;
}


  .team-list{
    gap: 64px 24px;
  }

  .customers li{
    width: calc((100% - 120px) / 3); 

  }

  .customers .list{
    gap: 72px 24px;
  }

  .customers{
    padding-top: 96px;
    padding-bottom: 96px;
  }


  .customers .container{
    max-width: 584px;
  }
  .main-header{
    font-size: 56px;
  }

  nav .header-menu,
  .address{
    display: flex;
  }

  .address{
    font-size: 12px;
    flex-wrap: wrap;
    
  }
  
  .address .list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 12px;
    
  }
  .address li{
    width: calc((100%-120px));
    
  }

  .mobile-menu-btn{
    display: none;
  }

  .mob-menu{
    display: none;
  }
}

@media screen and (min-width: 1158px){
  .container{
    max-width: 1158px;
  }
  .principles-text{
    width: calc((100% - 72px) / 4 );
  }
  .principles-icon{
    display: flex;
  }

  .our-doing{
    display: flex;
  }

  .customers li{
    width: calc((100% - 120px) / 6);
  }

  .customers .list{
    gap: 24px;
  }

  .main-header{
    font-size: 56px;
  }

  nav .header-menu,
  .address{
    display: flex;
  }

  

  .mobile-menu-btn{
    display: none;
  }
  .mob-menu{
    display: none;
  }

}