:root{
  --navyblue: #2E2F42;
  --white:#fff;
  --iris: #4D5AE5;
  --slate: #434455;
  --cloud: #f4f4fd;
  --ocean: #404BBF;
  --green:#31D0AA;
  --lightslate: #8E8F99;
  --cornflower: #E7E9FC;
  --navybluemodal:#2E2F42;
  --grey: #2E2F42;
  --dairy: #FCFCFC;
}

body{
  
  color:var(--slate);
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  min-height: 100vh;
}

.link{
  text-decoration: none;
}

.list{
  list-style-type: none;
  
}

img{
  display: block;
  max-width: 100%;
}

ul{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p{
  margin-top: 0;
  margin-bottom: 0;
}

.container{
  max-width: 1158px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  /*padding-left: 156px;*/
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Header*/

.header{
 
  border-bottom: 1px solid var(--cornflower);
background: var(--white, #FFF);
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 

}

.header-container{
  display: flex;
  align-items: center;
}

.header-logo{
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; 
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.studio{
  color: var(--cloud);
}

.navigation{
  display: flex;
  align-items: center;
  
 
}
nav .header-menu{
  display: flex;
  gap: 40px;
  display: none;
  
}


.header-menu-link{
  display: block;
  color: var(--navyblue);
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 24/16 */
letter-spacing: 0.02em;
padding: 24px 0 ;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus{
  color:var(--ocean)
}

.header-contact-info{
  
  color: var(--slate);
  font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.header-contact-info:hover,
.header-contact-info:focus{
  color:var(--ocean);
}

.address{
  font-style:normal;
  margin-left: auto;
  display: none;
}

address ul{
  display: flex;
  gap: 40px;
}

.studio-header{
  color:var(--grey);
}

.studio-link{
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone,
.studio-address,
.studio-link{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





/*Introduction*/

.introduction{
  background-color: var(--navyblue);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--white); 
  align-content: center;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.main-header{
font-size: 36px;
line-height: 1.07; /* 60/56 */
letter-spacing: 0.02em;
text-align: center;
margin-bottom:48px;
margin-right: auto;
margin-left: auto;
max-width: 496px;
}

.introduction-button{
background-color: var(--iris);
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 24/16 */
letter-spacing: 0.04em;
color: var(--white);
cursor: pointer;
margin-right: auto;
margin-left: auto;
padding: 16px 32px;

display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.introduction-button:hover,
.introduction-button:focus{
  background-color: var(--ocean);
}

/*Principles*/


.principles-icon{
  display: flex;
  
  align-items: center;
  box-sizing: border-box;
  width: 264px;
height: 112px;
flex-shrink: 0;
border-radius: 4px;
background: var(--cloud, #F4F4FD);
margin-bottom: 8px;
display: none;

}

.principles .list{
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;;
  align-items: center;
 padding: 96px 16px;

}

/*.principles-text{
  width: calc((100% - 72px) / 4 );
}*/

.principles .third-header{
  margin-bottom: 8px;
}

.third-header{
  color: var(--navyblue);
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;

}

.text{
font-size: 16px;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
color: var(--slate);

}



.second-heading{
  color: var(--navyblue, #2E2F42);
text-align: center;
font-size: 36px;
line-height: 1.11; /* 40/36 */
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}

/*Doing*/

.our-doing{
  padding-bottom: 120px;
  display: none;
}

.our-doing .list{
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}


.list-item{
  background-color: var(--white)
}

/*Team*/

.team{
  background-color: var(--cloud);
  padding: 120px 0;
  border-radius: 0px 0px 4px 4px;
  
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.socials-list{
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-list li{
  width: 40px;
  height: 40px;
}

.socials-link{
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus{
  background-color: var(--ocean); 
}

.socials-link svg{
  fill:var(--cloud)
}

.customers{
  background-color: var(--white);
  padding: 120px 0;
}


.team-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px;
  justify-content: center;
 
}

.team-list .list-item{

  border-radius: 0px 0px 4px 4px;
background: var(--white, #FFF);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.team-caption{
  padding: 32px 0;
}

.team-caption h3{
  text-align: center; 
  margin-bottom: 8px;
}

.team-caption p{
  text-align: center;
}



.customers .list{
  display: flex;
  gap: 72px 16px;
  flex-wrap: wrap;
 /* margin: 96px 16px;*/
}

.customers li{
  /*width: calc((100% - 120px) / 6); */
  width: 190px;
  height: 88px;
}

.customers .link{
  border: 1px solid #8e8f99;
  width: 100%;
  height: 100%;
  border-radius: 4px;
 display: flex;
 align-items: center;
 justify-content: center;
 color: var(--lightslate);
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .customer-point .customers-icon{
  fill:currentColor;
}


.customers .link:hover,
.customers .link:focus{
  border-color: var(--ocean);
  color: var(--ocean);

}
/*Portfolio*/

.portfolio{
  padding-top: 96px; 
  padding-bottom: 120px; 
}

.active-page{
  position: relative;
  color: #404bbf; 
}

.active-page-mobile{
  color: #404bbf;
}

.active-page:after{
  content: '';
  width:100%;
  position: absolute; 
  left: 0; 
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px; 
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-navigation-btn{
  font-family: inherit;
  font-style: normal;
  
background: var(--cloud, #F4F4FD);
color: var(--iris);
text-align: center;
font-style: normal;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;
cursor:pointer;
border-radius: 4px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
border: 1px solid var(--cornflower);
padding: 12px 24px;
}

.portfolio-navigation-btn:hover,
.portfolio-navigation-btn:focus{
  background: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
  border-radius: 4px;

box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);

}



.portfolio-navigation{
  display: flex;
  gap: 24px;
 margin-bottom: 72px;
 
 justify-content: center;
}

.portfolio-list{
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  background-color: var(--white);
  align-content: center;
  justify-content: center;
  row-gap: 48px; 
}



.portfolio-point{
  width: calc((100% - 48px) / 3);
  text-align: left;
  display: block;
}

.portfolio-point .link{
  Display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-point .link:hover,
.portfolio-point .link:focus{


box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
transform: translateY(0%);

}

.hover-come{
  position: relative;
  overflow:hidden;
}

.hover-text{
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em; 
  color: var(--cloud);
  padding: 40px 32px; 
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-point .link:hover .hover-text,
.portfolio-point .link:focus .hover-text{
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.caption{
  border: 1px solid var(--cornflower);
  border-top: none; 
  padding: 32px 16px;
 
}



 .portfolio-list h2{
  margin-bottom: 8px;
 }

/*Footer*/

.footer{
  background-color: var(--navyblue);
  padding: 100px 0;
  display: flex;
 flex-wrap: wrap;
 flex-direction: column;
}


.footer-logo {
  color: var(--iris);
  text-transform:uppercase;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.03em;

display: inline-block; 
margin-bottom: 16px;

}

.footer-text{
color: var(--cloud, #F4F4FD);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

max-width: 264px;
}

.socials{
  color: var(--white);
font-size: 16px;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
display: inline-flex;
align-items: flex-start;
gap: 16px;
margin-left: auto;
margin-bottom: 16px; 
}

.social-icon{
  fill: var(--white);
  width: 40px;
  height: 40px;
  
}

.customers-icon{
  fill: var(--lightslate);
}

.footer-container{
  display: flex;
  align-items: baseline;
}

.footer-left{
  margin-right: 120px;
}

.social-links .list{
  display: flex;
  gap: 16px;
}

footer .socials-link:hover,
footer .socials-link:focus{
  background-color: var(--green)
}

.telegram-icon{
  fill:var(--white);
}

.email-submit-button{
  color: var(--white);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;
display: inline-flex;
padding: 8px 24px;
justify-content: center;
align-items: center;
gap: 16px;
border:none;
border-radius: 4px;
background: var(--iris, #4D5AE5);
min-width: 165px;
height: 40px;
font-family: 'Roboto', sans-serif;
cursor: pointer;
}

.form-footer{
  margin-left: 80px;
}

.email-form{
  border-radius: 4px;
border: 1px solid var(--white);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
background-color: transparent;
width: 264px;
height: 40px;
flex-shrink: 0;
color: var(--white);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 200% */
letter-spacing: 0.48px;
margin-right: 24px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
padding-left: 16px;

}

.sub-label{
  color:var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
letter-spacing: 0.02em;
margin-bottom:16px;
}


.sub-form{
  display: flex;
  gap: 24px;


}

.telegram-icon{
  margin-left: 16px;
}
/*modal window*/
.modal-window{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  
}
.modal-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc; 
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  padding: 72px 24px 24px 24px;
  
}

.modal-header{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align:center;
  letter-spacing: 0.02em;
  color: var(--grey);
  margin-bottom: 16px;
}

.modal-form{
  margin-bottom: 8px;
}

.modal-form-name{
  position: relative;
}

.modal-form-label{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
  display: block;
  margin-bottom: 4px;
}

.modal-form-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px; 
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-input:focus{
  border-color: #4D5AE5; 
}

.modal-svg{
  
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-svg

{
  fill: #4D5AE5;
}

.modal-btn{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-btn:hover,
.modal-btn:focus{
  background-color:  #404bbf;
  border: none;
}

.btn-svg{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-btn:hover svg,
.modal-btn:focus svg{
  fill: #ffffff;
}

.text-area{
  margin-bottom: 16px;
}

.text-area-input{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize:none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  

}

.text-area-input:focus{
  border-color: var(--iris);

}

.checkbox-container{
  margin-bottom: 24px;
}

.terms-label{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
}

.accept-span{
 width: 16px;
 height: 16px;
 border: 1px solid rgba(46, 47, 66, 0.4); 
 border-radius: 2px;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 display: inline-flex;
 align-items: center;
 justify-content: center;
 fill:transparent;
 margin-right: 8px;

}

.send-btn{
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height:1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor:pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.policy-link{
  color: #4d5ae5; 
}

.checkbox:checked + .terms-label .accept-span {
  background-color: #404BBF;
  border:none;
  fill: var(--cloud);
}
  


.checkbox:checked + .terms-label .accept-span svg{
  fill: var(--cloud);
}


.mobile-menu-btn{
 
  margin-left: auto;
}

.mobile-menu-btn svg{
  fill: var(--navyblue);
}

.mob-menu{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: var(--white);
  padding: 40px;
  padding-top: 80px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 overflow: auto;


}

.mobile-phone{
  margin-bottom: 40px;
}

.second-heading-mobile{
  color: var(--navyblue, #2E2F42);

/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
}

.mob-menu:not(:last-child){
  margin-bottom: 40px;
}



.mob-menu-nav{
  display:flex;
  flex-direction: column;
  gap: 40px;
 
  align-items: flex-start;

}

.socials-list-mobile{
  display: flex;
  justify-content: space-between;
}

.mobile-email{
  color: var(--slate, #434455);

/* Header 3 */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
margin-bottom: 48px;
}

.mobile-phone{
  color: var(--iris, #4D5AE5);

/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
}

.active-page-mobile{
  color: var(--iris)
}
